{% extends 'base_teacher.html' %}
{% load static %}

{% block title %}User Profile{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'assets/css/user-grid.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/upload-image.css' %}">
{% endblock %}

{% block content%}
    <div class="dashboard-main-body">
      <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
        <h6 class="fw-semibold mb-0">View Lesson</h6>
        <ul class="d-flex align-items-center gap-2">
          <li class="fw-medium">
            <a href="index.html" class="d-flex align-items-center gap-1 hover-text-primary">
              <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
              Dashboard
            </a>
          </li>
          <li>-</li>
          <li class="fw-medium">View Lesson</li>
        </ul>
      </div>

      <div class="card basic-data-table">
        <div class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center flex-wrap gap-3 justify-content-between">
            <div class="d-flex align-items-center flex-wrap gap-3">
              <span class="text-md fw-medium text-secondary-light mb-0">{{ lesson.name }}</span>
            </div>
            <div class="d-flex">
              {% if checked == False %}<a href="{% url 'main:nb_create' lesson.id %}" class="btn btn-primary text-sm btn-sm px-12 py-12 radius-8 d-flex align-items-center gap-2"><iconify-icon icon="ic:baseline-plus" class="icon text-xl line-height-1"></iconify-icon>Yo'qlama</a>{% endif %}
              <a href="{% url 'main:teacher_lesson_update' lesson.id %}" class="btn btn-primary text-sm btn-sm px-12 py-12 radius-8 d-flex align-items-center gap-2"><iconify-icon icon="ic:baseline-plus" class="icon text-xl line-height-1"></iconify-icon>Update Lesson</a>
            </div>
        </div>
        <div class="card-body">
          {{ lesson.text|safe }}
        </div>
      </div>
    </div>
{% endblock %}