{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="dashboard-main-body">

      <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
        <h6 class="fw-semibold mb-0">Science</h6>
        <ul class="d-flex align-items-center gap-2">
          <li class="fw-medium">
            <a href="index.html" class="d-flex align-items-center gap-1 hover-text-primary">
              <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
              Dashboard
            </a>
          </li>
          <li>-</li>
          <li class="fw-medium">Science</li>
        </ul>
      </div>

      <div class="card basic-data-table">
        <div class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center flex-wrap gap-3 justify-content-between">
            <div class="d-flex align-items-center flex-wrap gap-3">
              <span class="text-md fw-medium text-secondary-light mb-0">Show</span>
              <select class="form-select form-select-sm w-auto ps-12 py-6 radius-12 h-40-px">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
              <form class="navbar-search">
                <input type="text" class="bg-base h-40-px w-auto" name="search" placeholder="Search" />
                <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
              </form>
              <select class="form-select form-select-sm w-auto ps-12 py-6 radius-12 h-40-px">
                <option>Status</option>
                <option>Active</option>
                <option>Inactive</option>
              </select>
            </div>
            <a href="{% url 'structure:science_create' %}" class="btn btn-primary text-sm btn-sm px-12 py-12 radius-8 d-flex align-items-center gap-2"><iconify-icon icon="ic:baseline-plus" class="icon text-xl line-height-1"></iconify-icon>Add new Science Group</a>
        </div>
        <div class="card-body">
          <form method="post">
          <table class="table bordered-table mb-0" data-page-length='10'>
            <thead>
              <tr>
                <th scope="col">
                  <div class="form-check style-check d-flex align-items-center">
                    <label class="form-check-label">
                      №
                    </label>
                  </div>
                </th>
                <th scope="col">Student</th>
                <th scope="col">Present</th>
              </tr>
            </thead>
            
              <tbody>

                {% csrf_token %}
                {% for field in form %}
                  <tr>
                    <td>
                      <div class="form-check style-check d-flex align-items-center">
                        <label class="form-check-label">
                          {{ forloop.counter }}
                        </label>
                      </div>
                    </td>
                    <td>
                      {{ field.label }}
                    </td>
                    <td>
                      <input class="form-check-input" type="checkbox" name="{{ field.name }}" id="{{ field.id_for_label }}" style="transform: scale(1.5);" 
                        {% if field.value %}checked{% endif %}>
                    </td>
                  </tr>
                {% endfor %}
                
              </tbody>
              
            
          </table>
          <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block my_scripts %}
  <script>
    let table = new DataTable('#dataTable');
  </script>
{% endblock %}
